.box1{
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 20px;
}
.box2{
  width: 100px;
  height: 100px;
  background-color: green;
  margin-top: 20px;
}
.box3{
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-top: 20px;
}
