.btn {
  width: 300px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.lorem {
  width: 300px;
  background-color: #000;
  color: white;
  padding: 10px;
  text-align: center;
  margin: auto;
  display: none;
  overflow: hidden;
}
