.btn{
  width: 300px;
  background: #333;
  padding: 10px;
  font-size: 20px;
  margin: auto;
  text-align: center;
  color: #fff
}
.lorem{
  width: 300px;
  background: #000;
  padding: 10px;
  font-size: 15px;
  margin: auto;
  text-align: center;
  color: #fff
}
